body {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    background: #ffffff;
    padding: 0;
    margin: 0;
    width: 100%;
    color: #000;
}
@font-face {
    font-family: "AGOpus";
    src: url("fonts/agopus.woff2") format("woff2"), url("fonts/agopus.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 96px;
    background-color: rgba(150, 0, 24, 0.6);
    z-index: 1;
}
.header-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1724px;
    margin: 0 auto;
}
.main-menu {
    width: 815px;
    padding-top: 32px;
    padding-right: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.main-menu__check,
.main-menu__showmenu,
.main-menu__back {
    display: none;
}
.main-menu__showmenu {
    -webkit-transform: rotate(90deg) translateY(-20px);
    -ms-transform: rotate(90deg) translateY(-20px);
    transform: rotate(90deg) translateY(-20px);
}
.main-menu__title {
    position: absolute;
    visibility: hidden;
}
.main-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 0px;
    padding-left: 0px;
}
.main-menu__item {
    list-style: none;
}
.main-menu__link {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
}
.main-menu__link:hover,
.main-menu__link:focus {
    border-bottom: #ffffff solid 3px;
    padding-bottom: 5px;
}
.contacts-wrapper {
    width: 495px;
}
.contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    min-width: 440px;
    padding-top: 32px;
    margin-top: 0px;
}
.contacts__mail {
    display: block;
    padding-left: 45px;
    background: url("images/email.png") no-repeat 0 7px;
}
.mail__link {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}
.contacts__phone {
    display: block;
    padding-left: 25px;
    background: url("images/phone.png") no-repeat;
    color: #fff;
    font-size: 24px;
}
/* main-block */

.main {
    background-color: #fff;
    margin-top: 0;
}
/* слайдер анимация start */

@-webkit-keyframes disappearance {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    25% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    75% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-webkit-keyframes grow {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    75% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}
@keyframes grow {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    75% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}
/* слайдер анимация end */

.slider {
    position: relative;
    width: 100%;
    height: 880px;
    overflow: hidden;
    z-index: 0;
}
.slider-image-1 {
    width: 100%;
    height: 880px;
    position: absolute;
    top: 0;
    left: 0;
    background: url("images/slider-image-1.jpg") no-repeat;
    background-size: cover;
    -webkit-animation: disappearance 15s linear infinite;
    animation: disappearance 15s linear infinite;
    overflow: hidden;
}
.slider-image-2 {
    width: 100%;
    height: 880px;
    background: url("images/slider-image-2.jpg") no-repeat;
    background-size: cover;
    -webkit-animation: grow 15s linear infinite;
    animation: grow 15s linear infinite;
    overflow: hidden;
}
/* slider-end */

.poster {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 935px;
    height: 270px;
    background-color: rgba(144, 0, 32, 0.6);
    color: #fff;
    margin: 0 auto;
    margin-top: -574px;
    z-index: 1;
}
.poster__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 48px;
    padding-left: 52px;
    width: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.poster__image {
    width: 151px;
    height: 160px;
    padding-right: 40px;
}
.poster__name {
    font-family: "AGOpus", sans-serif;
    font-size: 41.15px;
    font-weight: bold;
    width: 50%;
    line-height: 1.2;
}
.poster__slogan {
    width: 50%;
    height: 123px;
    margin: auto;
    border-left: #fff solid 2px;
    padding-left: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.poster__text {
    text-transform: uppercase;
    margin: 15px;
    font-size: 36px;
    letter-spacing: 2px;
}
/* бегущая строка анимация start */

@-webkit-keyframes marquee {
    0% {
        -webkit-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }
    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
    }
}
@keyframes marquee {
    0% {
        -webkit-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }
    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
    }
}
/* бегущая строка анимация end */

.running-line {
    position: relative;
    left: 0;
    background-color: rgba(150, 0, 24, 0.8);
    color: #fff;
    width: 935px;
    height: 63px;
    margin: 240px auto 0 auto;
    font-size: 34px;
    text-align: center;
    z-index: 1;
    overflow: hidden;
}
.running-line__text {
    padding-top: 6px;
    margin-top: 0px;
    display: inline-block;
    width: 100%;
    text-indent: 0;
    -webkit-animation: marquee 8s linear infinite;
    animation: marquee 8s linear infinite;
}
.running-line__text_bold {
    font-weight: bold;
}
.advantages {
    max-width: 1706px;
    margin: 0 auto;
    padding-top: 27px;
    text-align: center;
}
.advantages__title {
    margin-bottom: -5px;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    font-size: 36px;
    color: #000;
    letter-spacing: 2px;
}
.advantages__title-underline {
    display: inline-block;
    height: 0;
    border-bottom: 6px solid #c31919;
    margin: 0 auto;
    width: 160px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.advantages__description {
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    color: #000;
    max-width: 1100px;
    margin: 40px auto 50px auto;
}
.advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 0px;
}
.advantages__item {
    list-style: none;
    width: 25%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 60px;
    font-size: 24px;
    text-align: left;
}
.advantages__item::before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-position: 50% 5px;
    width: 82px;
    height: 82px;
}
@-webkit-keyframes drop {
    0% {
        -webkit-transform: translateY(-50px);
                transform: translateY(-50px);
    }
    25% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    40% {
        -webkit-transform: translateY(-25px);
                transform: translateY(-25px)
    }
    60% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    80% {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
    }
    90% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    95% {
        -webkit-transform: translateY(-5px);
                transform: translateY(-5px);
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@keyframes drop {
    0% {
        -webkit-transform: translateY(-50px);
                transform: translateY(-50px);
    }
    25% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    40% {
        -webkit-transform: translateY(-25px);
                transform: translateY(-25px)
    }
    60% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    80% {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
    }
    90% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    95% {
        -webkit-transform: translateY(-5px);
                transform: translateY(-5px);
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
.advantages__item:hover::before {
    -webkit-animation: drop 0.7s linear 1;
            animation: drop 0.7s linear 1;
}
.advantages__item_monitor::before {
    background-image: url("images/advantages_monitor.png");
}
.advantages__item_suggest::before {
    background-image: url("images/advantages_suggest.png");
}
.advantages__item_percent::before {
    background-image: url("images/advantages_percent.png");
}
.advantages__item_fee::before {
    background-image: url("images/advantages_fee.png");
}
.advantages__item_immediately::before {
    background-image: url("images/advantages_immediately.png");
}
.advantages__item_open::before {
    background-image: url("images/advantages_open.png");
}
.advantages__item_law::before {
    background-image: url("images/advantages_law.png");
}
.advantages__item_privacy::before {
    background-image: url("images/advantages_privacy.png");
}
.advantages__text {
    padding-left: 80px;
    margin: 0 20px;
}
.free {
    width: 100%;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 15px;
    text-align: center;
    background-color: #f8f8f8;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.free__title {
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    font-size: 32px;
    color: #000;
    margin-bottom: 5px;
    margin-top: 20px;
}
.free__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 720px;
    margin: 0 auto;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.free__item {
    width: 207px;
    height: 150px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    padding-top: 80px;
    margin: 15px;
    border: 1px solid #f8f8f8;
    list-style: none;
}
.free__item:hover,
.free__item:focus {
    background-color: #ffffff;
    color: #000;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
    border: 1px solid #cccccc;
    border-radius: 10px;
    cursor: pointer;
}
.free__text {
    font-size: 30px;
    padding-bottom: 0px;
    color: #000;
}
.free__item_weigh {
    background: url("images/free_weigh.png") no-repeat;
    background-position: center 15px;
}
.free__item_value {
    background: url("images/free_value.png") no-repeat;
    background-position: center 15px;
}
.free__item_verify {
    background: url("images/free_verify.png") no-repeat;
    background-position: center 15px;
}
.free__item_weigh:hover,
.free__item_weigh:focus {
    background: url("images/free_weigh_active.png") no-repeat;
    background-position: center 15px;
    background-color: #ffffff;
}
.free__item_value:hover,
.free__item_value:focus {
    background-color: #ffffff;
    background: url("images/free_value_active.png") no-repeat;
    background-position: center 15px;
    background-color: #ffffff;
}
.free__item_verify:hover,
.free__item_verify:focus {
    background: url("images/free_verify_active.png") no-repeat;
    background-position: center 15px;
    background-color: #ffffff;
}
.free__underline {
    display: inline-block;
    height: 0;
    border-bottom: 6px solid #c31919;
    margin: 0 auto;
    width: 60px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.free__description {
    font-size: 24px;
    margin: 0;
    padding-bottom: 5px;
}
.catalogue {
    margin: 0 auto;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.catalogue__title {
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    font-size: 36px;
    color: #000;
    letter-spacing: 2px;
    margin-bottom: -5px;
}
.catalogue__title-underline {
    display: inline-block;
    height: 0;
    border-bottom: 6px solid #c31919;
    margin: 0 auto;
    width: 160px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.catalogue__list {
    width: 1706px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 30px;
    padding-left: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.catalogue__item {
    display: block;
    width: 260px;
    height: 260px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    list-style: none;
}
.catalogue__item:hover {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.catalogue__image-container {
    width: inherit;
    height: 180px;
    border-bottom: 1px solid #000;
    position: relative;
    overflow: hidden;
}
.catalogue__image {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transition: all 1.5s linear;
    -o-transition: all 1.5s linear;
    transition: all 1.5s linear;
}
.catalogue__image:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.catalogue__text {
    text-align: left;
    margin: 0;
    padding-left: 20px;
}
.catalogue__item_name {
    padding-top: 10px;
    font-size: 16px;
}
.catalogue__item_price {
    font-size: 16px;
    color: #ff2b27;
}
.catalogue__item_new {
    font-size: 12px;
}
.catalogue__button {
    width: 278px;
    height: 44px;
    margin: 0 auto;
    background-color: #960018;
    padding-top: 5px;
    cursor: pointer;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #ffffff;
}
.catalogue__button:hover,
.catalogue__button:focus {
    -webkit-box-shadow: 0 0 0 10px #960018;
            box-shadow: 0 0 0 10px #960018;
    color: #960018;
    background-color: #ffffff;
    font-weight: bold;
}
.catalogue__link {
    color: inherit;
    text-decoration: none;
    font-size: 24px;
}
.service-location-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 575px 1148px auto;
    grid-template-columns: auto 575px 1148px auto;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    grid-auto-rows: minmax(730px auto);
    width: 100%;
    margin: 0;
    padding-right: 0;
    padding-top: 50px;
    margin-top: 75px;
    background-color: #ffffff;
}
.service {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    height: 730px;
    padding-right: 40px;
    background-color: #f6f6f6;
}
.service__margin {
    height: 730px;
    background-color: #f6f6f6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
}
.service__title {
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    font-size: 32px;
    color: #000;
    margin-bottom: 5px;
    margin-top: 45px;
    letter-spacing: 2px;
}
.service__title-underline {
    height: 0;
    border-bottom: 6px solid #c31919;
    margin: 5px auto 50px auto;
    max-width: 517px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.service__list {
    margin: 0 0 30px 0;
    padding-left: 10px;
}
.service__item {
    display: table;
    margin-bottom: 43px;
    list-style: none;
}
.service__item::before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-position: 50% 5px;
    width: 66px;
    height: 68px;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.service__item:hover::before {
    -webkit-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    transform: rotate(540deg);
}
.service__item_jewellery::before {
    background-image: url("images/service_jewellery.png");
}
.service__item_tech::before {
    background-image: url("images/service_tech.png");
}
.service__item_phones::before {
    background-image: url("images/service_phones.png");
}
.service__item_computers::before {
    background-image: url("images/service_computers.png");
}
.service__item_tools::before {
    background-image: url("images/service_tools.png");
}
.service__text {
    display: table-cell;
    padding-left: 80px;
    width: 100%;
    height: 60px;
    font-size: 24px;
    text-align: left;
    vertical-align: middle;
    margin: 0 15px;
}
.location {
    position: relative;
    background-color: #ffffff;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
}
.location__header {
    position: relative;
    top: -770px;
    width: 310px;
    padding-left: 140px;
}
.location__title {
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
    margin: 0 auto;
    font-size: 36px;
    color: #000;
    letter-spacing: 2px;
}
.location__title-underline {
    height: 0;
    margin: 0 auto;
    border-bottom: 6px solid #c31919;
    width: 160px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.map-container {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 730px;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    background: url("images/map_lining.jpg") no-repeat 0 0;
}
.map {
    width: 100%;
    height: 730px;
}
.map__address-list {
    display: block;
    position: absolute;
    top: 100px;
    left: 50px;
    width: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.67);
    border-bottom: #c31919 solid 5px;
    font-size: 24px;
    list-style: none;
}
.map__address {
    padding-top: 15px;
}
.map__balloon {
    width: 280px;
    height: 255px;
    background: rgba(255, 255, 255, 0.67);
    border-bottom: #c31919 solid 5px;
    font-size: 18px;
    text-align: left;
    padding: 25px 35px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.balloon__image {
    margin-top: 20px;
}
.footer {
    width: 100%;
    height: 70px;
    background-color: #960018;
    color: #ffffff;
}
.footer-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1724px;
    margin: 0 auto;
}
.footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer__logo {
    padding-top: 10px;
    width: 46px;
    height: 49px;
}
.footer__name {
    font-family: "AGOpus", sans-serif;
    font-size: 16.7px;
    font-weight: bold;
    margin-left: 10px;
    width: 80px;
    line-height: 1.2;
    margin-bottom: 0;
}
.footer__phone {
    width: 150px;
    background: url("images/phone_footer.png") no-repeat;
    background-position: 0 1px;
    font-size: 16px;
    margin-left: 50px;
    padding-left: 20px;
    margin-top: 20px;
}
.footer__copyright {
    padding-top: 10px;
    margin-left: auto;
    font-size: 14px;
}
.footer__link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
@media screen and (min-width: 1921px) {
    .main-menu__link,
    .mail__link,
    .contacts__phone,
    .advantages__text {
        font-size: 26px;
    }
    .contacts-wrapper {
        width: 600px;
    }
    .contacts__mail {
        background-position: 0 11px;
    }
    .advantages__title,
    .catalogue__title,
    .location__title {
        font-size: 40px;
    }
    .advantages__description {
        font-size: 34px;
    }
    .free__title,
    .service__title {
        font-size: 34px;
    }
    .catalogue__text {
        padding-top: 0px;
        font-size: 18px
    }
    .catalogue__link {
        font-size: 26px;
    }
    .service__text {
        font-size: 28px;
    }
    .service-location-wrapper {
        -ms-grid-columns: auto 600px 1124px auto;
        grid-template-columns: auto 600px 1124px auto;
    }
    .location__header {
        width: 335px;
        padding-left: 100px;
    }
    .footer__name,
    .footer__phone,
    .footer__copyright {
        font-size: 18px;
    }
}
@media screen and (max-width: 1919px) {
    .header-inner {
        margin: 0 96px;
    }
    .advantages {
        margin: 0 96px;
    }
    .advantages__item {
        padding-left: 0px;
        margin-bottom: 30px;
    }
    .advantages__item::before {
        background-position: 50%;
        padding-right: 0px;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        width: 20%;
    }
    .advantages__text {
        padding-left: 0;
        margin-left: 0;
        margin-right: 20px;
        margin-top: 80px;
        text-align: center;
    }
    .catalogue__list {
        width: 854px;
        padding-bottom: 10px;
    }
    .catalogue__item {
        margin-bottom: 40px;
    }
    .service-location-wrapper {
        -ms-grid-columns: 96px 575px auto 100px;
        grid-template-columns: 96px 575px auto 100px;
    }
    .map-container {
        background-position: 50%;
    }
    .footer-inner {
        max-width: 100%;
        margin: 0 98px;
    }
}
@media screen and (max-width: 1535px) {
    .service-location-wrapper {
        display: block;
        margin-top: 0;
        background-color: #f6f6f6;
    }
    .service__margin {
        display: none;
    }
    .service {
        height: auto;
        margin: 0 auto;
        padding-right: 0;
    }
    .service__title {
        margin-top: 0px;
    }
    .service__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        max-width: 1000px;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        padding-left: 60px;
        padding-right: 60px;
        margin: 0 auto;
    }
    .service__item {
        width: 300px;
    }
    .service__item::before {
        width: 300px;
        background-position: 50%;
    }
    .service__item_computers {
        margin-right: 300px;
        margin-left: 300px;
        padding-bottom: 32px;
    }
    .service__item_jewellery {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .service__item_tech {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .service__item_computers {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
    .service__item_phones {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }
    .service__item_tools {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }
    .service__text {
        display: block;
        padding-left: 0;
        margin-left: 0;
        margin-top: 80px;
        text-align: center;
    }
    .location__header {
        position: relative;
        top: 0;
        padding-left: 0;
        margin: 0 auto;
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .map-container {
        position: relative;
        width: 100%;
        height: 500px;
        top: 0;
        left: 0;
    }
    .map {
        margin-left: 0;
        width: 100%;
        height: 500px;
    }
}
@media screen and (max-width: 1365px) {
    .header {
        height: 192px;
    }
    .header-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        width: 935px;
        margin: 0 auto;
    }
    .main-menu {
        width: 935px;
        padding-right: 0;
    }
    .contacts-wrapper {
        width: 935px;
    }
    .contacts {
        padding-left: 0;
    }
}
@media screen and (max-width: 1319px) {
    .advantages__description {
        min-width: 825px;
    }
    .advantages__list {
        padding: 0;
    }
    .advantages__item {
        width: 50%;
        min-height: 80px;
        margin-bottom: 60px;
        background-position: 0 5px;
    }
    .advantages__item::before {
        width: 82px;
    }
    .advantages__text {
        margin-top: 0;
        margin-left: 90px;
        text-align: left;
    }
    .service__item_computers {
        margin-right: 300px;
        margin-left: 300px;
    }
}
@media screen and (max-width: 1142px) {
    .service__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        width: 530px;
    }
    .service__item {
        width: 100%;
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }
    .service__item::before {
        width: 66px;
    }
    .service__item_computers {
        margin-right: 0;
        margin-left: 0;
        padding-bottom: 0;
    }
    .service__text {
        margin-top: 0px;
        display: table-cell;
        padding-left: 80px;
        text-align: left;
    }
}
@media screen and (max-width: 1070px) {
    .header-inner {
        width: 100%;
    }
    .main-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 100%;
        width: 100%;
    }
    .main-menu__list {
        margin-left: 60px;
        margin-right: 60px;
    }
    .contacts-wrapper {
        width: 100%;
    }
    .contacts {
        margin-left: 60px;
        margin-right: 60px;
    }
    .advantages {
        margin-left: 60px;
        margin-right: 60px;
    }
    .footer-inner {
        margin: 0 60px;
    }
}
@media screen and (max-width: 989px) {
    .header {
        height: auto;
    }
    .header-inner {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        margin-bottom: 0;
        width: auto
    }
    .main-menu {
        padding-top: 0;
    }
    /* бургер начало */
    .main-menu__showmenu,
    .main-menu__back {
        cursor: pointer;
        color: #ffffff;
    }
    .main-menu__showmenu {
        position: relative;
        z-index: 3;
        display: inline-block;
        margin-left: 0px;
        margin-bottom: 17px;
        margin-top: 17px;
        padding-top: 0;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 36px;
        color: #ffffff;
    }
    .main-menu__back {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        color: #ffffff;
    }
    .main-menu__list {
        color: #ffffff;
        overflow: hidden;
    }
    .main-menu__list {
        position: absolute;
        top: 103px;
        left: 0;
        display: block;
        width: 80%;
        margin: 0;
        padding: 17px 0;
        line-height: 2em;
        background-color: #960018;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: -webkit-transform .3s;
        transition: -webkit-transform .3s;
        -o-transition: transform .3s;
        transition: transform .3s;
        transition: transform .3s, -webkit-transform .3s;
        will-change: transform;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        z-index: 1;
    }
    .main-menu__item {
        display: block;
        text-align: left;
        padding: 20px;
        padding-left: 50px;
        text-decoration: none;
        color: #ffffff;
    }
    .main-menu__link:hover,
    .main-menu__link:focus {
        padding-bottom: 3px;
        color: #ffffff;
    }
    .main-menu::-webkit-scrollbar {
        display: none;
    }
    .main-menu__check:checked ~ .main-menu__list {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    /* бургер конец */
    .contacts-wrapper {
        margin-left: auto;
        width: 160px;
        margin-right: 20px;
        margin-left: 0;
    }
    .contacts {
        display: block;
        min-width: 160px;
        width: 160px;
        line-height: 35px;
        padding-top: 5px;
        text-align: center;
        margin: 0;
    }
    .mail__link,
    .contacts__phone {
        font-size: 18px;
    }
    .contacts__phone {
        background-size: 10px;
        background-position: 0 50%;
        padding-left: 0;
        margin-left: 5px;
        text-align: right;
    }
    .contacts__mail {
        background-size: 20px;
        background-position: 0 50%;
        padding-left: 0;
        text-align: right;
    }
    .slider,
    .slider-image-1,
    .slider-image-2 {
        height: 400px;
    }
    .poster,
    .running-line {
        width: 480px;
        z-index: 0;
    }
    .poster {
        margin-top: -250px;
        height: 113px;
    }
    .poster__logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        padding-top: 20px;
        width: 50%;
        padding: 20px;
        padding-right: 0;
    }
    .poster__image {
        width: 46px;
        height: 49px;
        padding-right: 10px;
        padding-top: 15px;
    }
    .poster__slogan {
        width: 50%;
        margin-top: 10px;
        padding-left: 10px;
        margin-left: 5px;
        height: auto;
    }
    .poster__name,
    .poster__text {
        font-size: 24px;
        width: auto;
    }
    .poster__name {
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 0;
    }
    .poster__text {
        height: auto;
        margin-left: 0;
        margin-right: 0;
    }
    .running-line {
        margin-top: 83px;
        height: 50px;
        font-size: 20px;
    }
    .running-line__text {
        padding-top: 12px;
        width: 450px;
    }
    .advantages {
        margin: 0 10px;
    }
    .advantages__title {
        margin-top: 0;
        font-size: 24px;
    }
    .advantages__description {
        min-width: auto;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .advantages__item::before {
        width: 50%;
        background-size: 40px;
        background-position: 50%;
    }
    .advantages__item {
        width: 50%;
        margin-bottom: 0px;
    }
    .advantages__text {
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 0;
        margin-top: 60px;
        margin-right: 0;
        padding-top: 10px;
        text-align: center;
        font-size: 18px;
    }
    .free {
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 0;
    }
    .free__title {
        font-size: 24px;
        width: auto;
    }
    .free__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: auto;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .free__description {
        font-size: 20px;
    }
    .catalogue {
        padding-top: 0;
        padding-bottom: 40px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .catalogue__title {
        font-size: 24px;
    }
    .catalogue__list {
        -ms-flex-pack: distribute;
        justify-content: space-around;
        width: auto;
        padding-top: 10px;
    }
    .catalogue__title-underline {
        width: 110px;
    }
    .catalogue__button {
        width: 200px;
    }
    .service-location-wrapper {
        padding-top: 20px;
    }
    .service__title {
        font-size: 24px;
    }
    .service__title-underline {
        width: 110px;
        margin-bottom: 20px;
    }
    .service__list {
        width: 450px;
        min-width: 300px;
        margin: 0 auto;
        padding-right: 0;
        padding-left: 0;
    }
    .service__item {
        margin-bottom: 10px;
    }
    .service__item::before {
        background-size: 70%;
    }
    .service__text {
        font-size: 18px;
    }
    .location__header {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .location__title {
        font-size: 24px;
        text-align: center;
    }
    .location__title-underline {
        width: 110px;
    }
    .map-container {
        height: 300px;
    }
    .map {
        height: 300px;
    }
    .map__address-list {
        top: 0;
        margin-top: 0;
        margin-bottom: 0;
        left: 0;
        width: 370px;
    }
    .map__address {
        font-size: 14px;
        padding: 5px;
    }
    .footer-inner {
        margin-right: 20px;
        margin-left: 20px;
    }
    .footer__phone {
        width: auto;
        margin-left: 10px;
    }
    .map__balloon {
        width: 180px;
        height: 165px;
        font-size: 14px;
        padding: 15px 15px;
    }
    .balloon__image {
        width: 150px;
        margin-top: 10px;
    }
}
@media screen and (max-width: 483px) {
    .main-menu__showmenu {
        font-size: 36px;
        -webkit-transform: rotate(90deg) translateX(-15px) translateY(-20px);
        -ms-transform: rotate(90deg) translateX(-15px) translateY(-20px);
        transform: rotate(90deg) translateX(-15px) translateY(-20px);
    }
    .main-menu__list {
        top: 85px;
    }
    .main-menu__link {
        font-size: 22px;
    }
    .contacts {
        width: 145px;
        min-width: 145px;
        padding-top: 5px;
    }
    .mail__link,
    .contacts__phone {
        font-size: 16px;
    }
    .slider,
    .slider-image-1,
    .slider-image-2 {
        height: 350px;
    }
    .poster {
        margin-top: -215px;
    }
    .poster,
    .running-line {
        width: auto;
    }
    .poster__name,
    .poster__text {
        font-size: 20px;
        width: auto;
    }
    .poster__text {
        width: 130px;
        padding-left: 10px;
        margin-top: 7px;
        margin-right: 10px;
    }
    .poster__logo,
    .poster__slogan {
        padding: 0;
        margin: 0;
    }
    .poster__slogan {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .poster__logo {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding-top: 20px;
    }
    .poster__image {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
    }
    .running-line {
        margin-top: 50px;
    }
    .advantages__title-underline {
        width: 110px;
    }
    .advantages__item {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .advantages__item::before {
        width: 100%;
        background-position: 50%;
        margin-left: -10px;
    }
    .service__list {
        width: auto;
        min-width: 300px;
    }
    .map__address-list {
        width: 300px;
        height: 300px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 5px;
    }
    .map__address {
        padding-bottom: 0;
    }
    .footer {
        height: 140px;
    }
    .footer-inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .footer__logo {
        padding-top: 20px;
    }
    .footer__name {
        padding-top: 10px;
        padding-right: 10px;
    }
    .footer__phone {
        margin-left: auto;
        padding-top: 7px;
        background-position: 0 8px;
    }
    .footer__copyright {
        padding-top: 0;
        padding-bottom: 25px;
    }
}